*{
    margin: 0;
    
}
body{
    
    width: 100%;
    max-width:1200px;
    margin: 0 auto;
    
   
}
header{
    padding:10px;
    height: auto;
    display:flex;
}

.logo{
    width: 10%;
    display: flex
    justify-content: flex-start;
}

img{
    width: 50%;
}
.menu{
    width: 90%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    
}
ul{
    display:flex;
    justify-content: flex-end;
    

}
.menu-icon{
    display:none;
   
}

.menu-open{
    display:none;
   
}

.menu-open li{
    display:none;
    
}
.menu-open li a{
    display:none;
}

.open main{
    display:none;
}
.open .menu-open{
   
    display:none;
}

li{
    display: inline;
    padding: 0 10px;
    list-style: none;
    
}
a{
    color:black;
    text-decoration: none;
}
a:hover{
    color:grey;
}
.banner{
    display:flex;
    background-color: #009999;
}
.banner-img{
    width: 60%;
    margin: 0 auto;
    
}
h1{
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    text-align: center;
}
section{
    width: 100%;
    dispaly:flex;
    margin-bottom: 30px;
}
.first-line{
    display:flex;
    
    justify-content: center;
    
}
.second-line{
    display:flex;
    
    justify-content: center;
}
.movie{
    flex-direction: column;
    width: 60%;
    margin:30px;
    justify-content: center;
    
}
.movie-img{

   width: 100%;
   height: 300px;
}

h3{
    text-align: center;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #666;

}
.copyright{
    text-align: center;
    padding-top: 40px;
    color:white;
}


@media screen and (min-width:500px) and (max-width:800px){
    .menu li{
        display:none;
    }
    .menu li a{
        display:none;
    }
    .menu-icon{
        width: 80px;
        display: block;
        position: relative;
        z-index: 2;
        
    }
    main{
        width: 100%;
        height: 900px;
        transition: 0.3s ease;
    }
    .menu-open{
        display: block;
        position: absolute;
        right:0;
        width: 322px;
        flex-direction: column-reverse;
        background-color:#fff;
        padding:0;
        height: 100vh;
        justify-items: flex-start;
        z-index: 3;
        transform: translateX(400px);
        overflow:hidden;
       
       
    }
   
    .menu-open li{
        width: 200px;
        display: block;
        border: 1px solid #ccc;
        text-align: center;
        margin: 0 auto;
        padding: 10px 60px;
        align-items: center;
        
    }
    .menu-open li a{
        display:inline-block;
        align-items: center;
        
    }
    
    .open1 main{
        transform: translateX(-200px);
    }
    .open1 .menu-open{
        transition: 0.3s ease;
        transform: translateX(-20px);
    }
    
    .menu-btn{
        border:0;
        background-color: white;
        
    }

    .movie-img{

        width: 100%;
        height: 100px;
     }
}

@media screen and (max-width:499px){
    body{
        width:499px;
    }
    main{
        width: 100%;
        /* height: 900px; */
        transition: 0.3s ease;
    }
    .menu>ul li{
        display:none;
    }
    .menu>ul li a{
        display:none;
    }
    .menu-icon{
        width: 50px;
        display: block;
        position: relative;
        z-index: 2;
        
    }
    
    .menu-open{
        display: block;
        position: absolute;
        right:0;
        width: 200px;
        flex-direction: column-reverse;
        background-color:#fff;
        padding:0;
        height: 100vh;
        justify-items: flex-start;
        z-index: 3;
        transform: translateX(300px);
        overflow:hidden;
       
       
    }
    
    .menu-open li{
        width: 100px;
        display: block;
        border: 1px solid #ccc;
        text-align: center;
        margin: 0 auto;
        padding: 10px 60px;
        align-items: center;
        
    }
    .menu-open li a{
        display:inline-block;
        align-items: center;
        
    }
    
    .open1 main{
        
        transform: translateX(-100px);
    }
    .open1 .menu-open{
        transition: 0.3s ease;
        transform: translateX(-30px);
    }
    
    .menu-btn{
        border:0;
        background-color: white;
        
    }
    .banner-img{
        width: 100%;
       
        
    }
    h1{
        font-size: 30px;
        margin-bottom: 20px;
    }
    
    section{
        width: 100%;
        margin-bottom: 20px;
    }
    .first-line{
        display:block;
        justify-content: center;
        
    }
    .second-line{
        display:block;
        
        justify-content: center;
    }
    .movie{
        flex-direction: column;
        width: 60%;
        margin: 10px auto;
        justify-content: center;
        
    }
    .movie-img{
    
       width: 100%;
       height: auto;
    }
    h3{
        font-size: 5px;
    }
    footer{
        
        width: 100%;
        height: 50px;
        background-color: #666;
    
    }
    
    .copyright{
        font-size: 3px;
        text-align: center;
        padding-top: 20px;
        color:white;
    }
}