extends layout

block content
    form(action='/trackName', method='post')
      label Please enter you name:
        input(type='text', name='username',autocomplete="name")
      button(type='submit') Submit